.page-header
  %h1 Log In

= form_tag sessions_path do
  .form-group
    = label_tag :email
    = text_field_tag :email, params[:email]
  .form-group
    = label_tag :password
    = password_field_tag :password, params[:email]
  .form-group
    = submit_tag 'Log In', class:'btn btn-primary'
