.page-header
  = link_to topics_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_topic_path(@topic), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show topic

%dl.dl-horizontal
  %dt Name:
  %dd= @topic.name
  %dt Sticky:
  %dd= @topic.sticky
  %dt User:
  %dd= @topic.user
